:root {
  --horizontal-space: 25px;

  --yellow: #f8dd0f;
  --font-color: #2e363e;
  --grey: rgba(0, 0, 0, 0.5);

  --img-large-size: 60px;
  --img-normal-size: 45px;
  --img-small-size: 40px;

  --border-lines: 1px solid rgba(0, 0, 0, 0.3);
}
