.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0;
  text-align: center;
  font-weight: 500;
}

.welcome-header__title {
  font-size: 25px;
  margin-bottom: 20px;
}

.welcome-header__text {
  width: 60%;
  color: var(--grey);
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  padding: 15px 0;
  margin-bottom: 20px;
  border: none;
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  padding-left: 10px;
  font-size: medium;
  color: var(--grey);
}

#login-form input:focus {
  border-color: rgba(0, 0, 0, 0.3);
}

#login-form input[type="submit"] {
  padding: 20px 0;
  background-color: var(--yellow);
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  color: inherit;
  font-size: 14px;
}
