.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px var(--horizontal-space);
}

.screen-header__title {
  font-size: 28px;
  font-weight: 700;
}

.screen-header__icon {
  position: relative;
}

.screen-header__icon span i {
  padding: 0 6px;
}

.screen-header__dot {
  position: absolute;
  bottom: 16px;
  left: 60px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}
