.status-bar {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  top: 0;
  justify-content: center;
  padding: 5px 3px;
  font-weight: 500;
  background-color: #fff;
  z-index: 1;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column .fa-battery-half {
  margin: 0 6px;
}
