.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component__profileimage {
  width: var(--img-normal-size);
  height: var(--img-normal-size);
  border-radius: 12px;
}

.user-component__profileimage--xl {
  width: var(--img-large-size);
  height: var(--img-large-size);
  border-radius: 15px;
}

.user-component__profileimage--sm {
  width: var(--img-small-size);
  height: var(--img-small-size);
  border-radius: 10px;
}

.user-component__title {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__subtitle {
  padding: 0 10px;
  margin-top: 5px;
  color: var(--grey);
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: var(--grey);
}

.user-component__time {
  display: block;
  margin-bottom: 5px;
}
